* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: #7d8da1;
}

p {
    color: #677483;
}

b {
    color: #363949;
}

.primary {
    color: #7380ec;
}

.danger {
    color: #ff7782;
}

.success {
    color: #41f1b6;
}

.warning {
    color: #ffbb55;
}

html {
    font-size: 14px;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
    color: #363949;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

/* aside */

aside {
    height: 100vh;
    width: 16rem;
    background: #333132;
}

aside .top {
    background: #333132;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.8rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

aside .top .logo img {
    width: 6rem;
    height: 6rem;
}

aside.open {
    display: block;
}

aside.close {
    display: block;
}

aside .sidebar {
    background: #333132;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: #fff;
    margin-left: 1.4rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4.1rem;
    width: 13.4rem;
    margin-top: 1rem;
    transition: all 300ms ease;
    letter-spacing: 1.2px;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    height: 4rem;
    width: 13.4rem;
}

aside .sidebar a:hover {
    color: #070808;
    background-color: #D4AC6F;
    border-radius: 1rem;
    width: 14rem;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* ---- End Of aside ----*/

main {
    margin-top: 1.4rem;
    margin-left: 2rem;
}

main h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

main .table-container table {
    background: #fff;
    width: 115%;
    border-radius: 0.5rem;
    font-size: 12.5px;
    padding: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: -7rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

main .table-container table:hover {
    box-shadow: none;
}

main table thead tr th {
    padding-bottom: 1.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    border-left: 1px solid rgba(132, 139, 200, 0.18);
}

main table tbody td {
    height: 8.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    border-left: 1px solid rgba(132, 139, 200, 0.18);
    color: #666666;
}

aside .sidebar a:last-child {
    position: absolute;
    margin-top: 45rem;
    height: 4rem;
    width: 13.4rem;
    left: 4px;
}

.titlee {
    color: #363949;
    font-family: poppins, sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-left: 4rem;
}


main .table-container a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #7380ec;
}

main .table-container table tbody tr td .btn3 {
    background-color: #fff;
    cursor: pointer;
    color: #677483;
}

main .table-container table tbody tr:last-child {
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
}

main .table-container table tbody tr td:last-child {
    width: 28%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

main .table-container table tbody tr td:last-child .btn3 {
    margin-left: 10rem;
    margin-right: -16rem;
}

.btn1 button {
    padding: 0.8rem;
    width: 6rem;
    background-color: #C88A2E;
    border-radius: 5px;
    color: white;
    margin-left: 4rem;
    margin-top: 2.5rem;
    cursor: pointer;
}

.right {
    margin-top: -42rem;
    margin-left: 66rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 16rem;
}

.right .top button {
    display: none;
}

.right .top .profile {
    display: none;
}

/* ======== Media Queries ========= */
/* ==== For Tablab and Small Laptops ==== */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    main {
        margin-left: -1rem;
    }

    aside {
        background-color: #f6f6f9;
    }

    aside .close {
        display: none;
    }

    .right .top {
        display: flex;
        justify-content: end;
        gap: 2rem;
        width: 16rem;
        margin-left: 1rem;
    }

    .right .top button {
        display: none;
    }

    .right .top .profile {
        display: flex;
        gap: 1rem;
        text-align: right;
    }

    aside .close {
        display: none;
    }

    aside .sidebar {
        background-color: transparent;
        margin-left: -1rem;
    }

    aside .sidebar span {
        color: #677483;
    }

    aside .top {
        background-color: #f6f6f9;
    }

    aside .top .logo {
        margin-left: -1.6rem;
        margin-top: 4rem;
    }

    aside .top .logo img {
        background-color: rgba(36, 36, 39, 0.18);
        padding: 1rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:hover {
        background-color: #f6f6f9;
        border-radius: 1rem;
        width: 1rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 4rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .insights .sales {
        width: 152%;
    }

    main .insights .expenses {
        width: 152%;
    }

    main .insights .income {
        width: 152%;
    }

    main .table-container table tbody tr td:last-child {
        margin-left: -8rem;
    }

    main .table-container table tbody tr td:last-child .btn3 {
        margin-right: -8rem;
    }

    main .table-container {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .table-container table {
        width: 84vw;
    }

    .btn1 button {
        margin-left: -3rem;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
}

/* ==== For smaller Tablets and Mobile ==== */
@media (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    aside {
        height: 100vh;
        position: fixed;
        left: 0;
        width: 18rem;
        z-index: 3;
        background-color: #333132;
        box-shadow: 1rem 3rem 5rem #fff;
        padding-right: 1.4rem;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .top {
        background-color: #333132;
    }

    aside .top .logo {
        margin-top: 8px;
    }

    aside .top .logo img {
        background-color: #333132;
        padding: 1rem;
        margin-left: 4rem;
    }

    aside .sidebar {
        margin-top: -2rem;
    }

    aside .sidebar h3 {
        display: inline;
        color: #fff;
        padding-left: 1rem;
    }

    aside .sidebar a {
        width: 16rem;
        margin-top: -12px;
    }

    aside .sidebar a:last-child {
        margin-top: 9rem;
    }

    aside .sidebar a:hover {
        color: #070808;
        background-color: #D4AC6F;
        border-radius: 1rem;
        width: 15rem;
    }

    aside .sidebar a:hover span {
        margin-left: 1rem;
    }

    aside .close {
        display: inline-block;
        margin-top: -4rem;
        margin-left: 4rem;
        cursor: pointer;
        color: #fff;
    }

    .titlee {
        font-size: 22px;
        margin-left: 7rem;
    }

    main {
        margin-left: 1rem;
        padding: 0 1rem;
    }

    main .table-container {
        position: relative;
        margin: 3rem 0 0 0;
        width: 10%;
        margin-left: -11rem;
    }

    main .table-container table {
        width: 23rem;
        margin: 0;
    }

    table thead {
        display: none;
        width: 100%;
    }

    table,
    table td,
    table tr {
        display: block;
        width: 100%;
        font-size: 11px;
        border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    }

    table tbody {
        display: block;
        padding-left: 1rem;
        width: 100%;
    }

    main .table-container table tbody tr td:last-child {
        padding-left: 2rem;
    }

    main .table-container table tbody tr td:last-child .btn3 {
        margin-left: 4rem;
    }

    main table thead tr th {
        border-left: none;
    }

    main table tbody td {
        border-left: none;
        border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    }

    table td {
        text-align: left;
        text-align: right;
        width: 20rem;
        font-size: 10px;
        padding-left: 8rem;
        position: relative;
        padding-top: 12px;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        margin-left: -2rem;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        text-decoration: none;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: #fff;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #363949;
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }

    main .btn1 {
        align-items: center;
        margin-top: -9rem;
        margin-left: 11rem;
        margin-bottom: -5rem;
    }
}