<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/logo_white.png">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/addnewroom.css">

    <title>Add New Room</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="./images/logo_white.png">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/home" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Booking Records</h3>
                </a>
                <a href="/room">
                    <span class="material-icons-sharp">villa</span>
                    <h3>Room</h3>
                </a>
                <a href="roomtype">
                    <span class="material-icons-sharp">library_books</span>
                    <h3>Room Types</h3>
                </a>
                <a href="/customer_record">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Transaction Records</h3>
                </a>
                <a href="/QR">
                    <span class="material-icons-sharp">qr_code_2</span>
                    <h3>Change QR Code</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Add New Room</h1>
            <form action="/addroom" method="post">
                <div class="wrapper">
                    <div class="form">

                        
                        <div class="input_field">
                            <label>
                                Room Number:
                            </label>
                            <input  name="room_number" placeholder="" id="">
                        </div>
                        <div class="input_field">
                            <label>
                                Price:
                            </label>
                            <input name="price" placeholder="" class="" id="">
                        </div>
                        <div class="input_field">
                            <label>
                                Max People:
                            </label>
                            <input name="maxPeople" placeholder="" class="" id="">
                        </div>
                        <div class="input_field">
                            <label>
                                Description:
                            </label><br>
                            <textarea name="description" placeholder="Brief Description" class="" id=""></textarea>
                        </div>
                        <div class="input_field">
                            <label>
                                <i class="fa fa-user"></i>
                                Category:
                            </label>
                            <select id="rooms" name="category">
                                <% roomtype.forEach(data => { %>
                                <option value="<%=data.room_name%>"><%=data.room_name%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="btn2">
                            <button class="submit">Add Rooms</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </main>

        <!------------ End Of Main ------------>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/addnewroom.js"></script>
    
    </div>
</body>
</html>